body {
    margin: 0;
    padding: 0;
    background-color: rgb(245, 243, 243);
}

.right-side {
    display: flex;
    flex-direction: column;
}

.header,
.form-title {

    padding-left: 18px;
    font-size: 24px;
    font-weight: bold;

}

.header {
    padding-top: 70px;
    padding-bottom: 24px;
}

.sign-up {
    flex-direction: row;
    padding-bottom: 30px;
    margin-bottom: 30px;
    box-shadow:  0px 5px 5px rgb(189, 189, 189);
    background-color: white;
}

.columns {
    display: flex;
    flex-direction: row;
}

.first-column,
.second-column {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.form-title,
.first-column,
.second-column {
    padding-left: 36px;
    padding-top: 10px;
}

.first-column>label,
.second-column>label {
    margin-top: 10px;
}

/* .create-account {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */